<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Player Index Page</h1>
    <ul>
        <% for (let i = 0; i < players.length; i++) { %>
            <li><%=players[i].name%></li>
            <form action="/players/<%=i;%>?_method=DELETE" method="POST">
                <button>Del</button>
            </form>
            <a href="/players/<%=i%>/edit"><button>Edit</button></a>
        <% } %>
    </ul>
</body>
</html>